<h1>Lista de Lobos</h1>

<div class="wolf-list-item" *ngFor="let wolf of wolves; index as id">
  <div class="wolf-list-item__details">
    <p><span>Nome:</span> {{wolf.name}}</p>
    <p><span>Idade:</span> {{wolf.age}}</p>
    <p><span>Descrição:</span> {{wolf.description}}</p>
    <p><span>Foto:</span></p>
    <button (click)="goToShow(id)">Botao</button>
  </div>
  <img [src]="wolf.photo" />
</div>