.wolf-list-item {
  width: 70vw;
  height: 300px;
  margin: 20px auto;
  border: 1px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.wolf-list-item__details {
  height: 80%;
  margin: auto 0;
}

.wolf-list-item img {
  max-height: 250px;
}